attrs==22.2.0 ; python_version >= "3.9" and python_version < "4.0"
aws-cdk-asset-awscli-v1==2.2.64 ; python_version >= "3.9" and python_version < "4.0"
aws-cdk-asset-kubectl-v20==2.1.1 ; python_version >= "3.9" and python_version < "4.0"
aws-cdk-asset-node-proxy-agent-v5==2.0.53 ; python_version >= "3.9" and python_version < "4.0"
aws-cdk-lib==2.64.0 ; python_version >= "3.9" and python_version < "4.0"
cattrs==22.2.0 ; python_version >= "3.9" and python_version < "4.0"
constructs==10.1.247 ; python_version >= "3.9" and python_version < "4.0"
exceptiongroup==1.1.0 ; python_version >= "3.9" and python_version < "3.11"
jsii==1.74.0 ; python_version >= "3.9" and python_version < "4.0"
publication==0.0.3 ; python_version >= "3.9" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.9" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.9" and python_version < "4.0"
typeguard==2.13.3 ; python_version >= "3.9" and python_version < "4.0"
typing-extensions==4.4.0 ; python_version >= "3.9" and python_version < "4.0"
