.DS_Store
*.swp
package-lock.json
__pycache__
.pytest_cache
.env
.venv
*.egg-info
.vscode/

# CDK asset staging directory
.cdk.staging
cdk.out
dist/

# Layers
layers/python
layers/*.zip

# Notebooks
.ipynb_checkpoints/

# Sample events or assets
events
assets

# project development env
node_modules/*
node_modules
.vscode/*
notes.txt
